---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
const { frontmatter } = Astro.props;

const title = `${frontmatter.name} | Team`;
const description = frontmatter.role
  ? `${frontmatter.name} is part of the Uicollective team as ${frontmatter.role}.`
  : `${frontmatter.name} is part of the Uicollective team.`;
---

<BaseLayout title={title} description={description} pageType="profile">
  <section>
    <Wrapper variant="standard" class="pt-12 lg:pt-24">
      <div>
        <Image
          alt={frontmatter.image.alt}
          src={frontmatter.image.url}
          width={1400}
          height={1400}
          loading="lazy"
          decoding="async"
          class="aspect-square size-12 rounded object-cover object-center"
        />
        <div class="mt-4">
          <Text
            tag="h1"
            variant="textBase"
            class="font-medium tracking-tight text-foreground"
          >
            {frontmatter.name}
          </Text>
          {
            frontmatter.role && (
              <Text
                tag="p"
                variant="textSM"
                class="mt-1 font-medium text-muted-foreground text-balance"
              >
                {frontmatter.role}
              </Text>
            )
          }
        </div>
      </div>

      <div class="mt-12">
        <Text
          tag="h2"
          variant="textBase"
          class="font-medium tracking-tight text-foreground"
        >
          Socials
        </Text>
        {
          frontmatter.socials?.length > 0 && (
            <div class="mt-2 flex flex-col gap-2">
              {frontmatter.socials.map((social) => (
                <a
                  href={social.href}
                  class="text-sm text-muted-foreground transition hover:text-foreground w-fit"
                >
                  {social.label}
                </a>
              ))}
            </div>
          )
        }
      </div>
      <Wrapper variant="prose" class="mt-10"><slot /></Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
