---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { frontmatter } = Astro.props;

const title = `${frontmatter.name} | Trusted Members`;
const description =
  frontmatter.bio ||
  `${frontmatter.name} is listed in the Uicollective trusted members directory.`;
---

<BaseLayout title={title} description={description} pageType="profile">
  <section>
    <Wrapper variant="standard" class="pt-12 lg:pt-24">
      <div>
        <Image
          alt={frontmatter.image.alt}
          src={frontmatter.image.url}
          width={1400}
          height={1400}
          loading="lazy"
          decoding="async"
          class="aspect-square size-12 rounded object-cover object-center"
        />
        <div class="mt-4">
          <Text
            tag="h1"
            variant="textBase"
            class="font-medium tracking-tight text-foreground"
          >
            {frontmatter.name}
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-1 font-medium text-muted-foreground text-balance"
          >
            {frontmatter.bio}
          </Text>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div>
          <Text
            tag="h2"
            variant="textBase"
            class="font-medium tracking-tight text-foreground">Projects</Text
          >
          <div class="mt-2 flex flex-col gap-2">
            {
              frontmatter.projects.map((project) => (
                <a
                  href={project.link}
                  class="text-sm text-muted-foreground transition hover:text-foreground"
                >
                  {project.name}
                </a>
              ))
            }
          </div>
        </div>
        <div>
          <Text
            tag="h2"
            variant="textBase"
            class="font-medium tracking-tight text-foreground">Socials</Text
          >
          {
            frontmatter.socials?.length > 0 && (
              <div class="mt-2 flex flex-col gap-2">
                {frontmatter.socials.map((social) => (
                  <a
                    href={social.href}
                    class="text-sm text-muted-foreground transition hover:text-foreground"
                  >
                    {social.label}
                  </a>
                ))}
              </div>
            )
          }
        </div>
      </div>
      <Wrapper variant="prose" class="mt-10">
        <slot />
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
